AddDefaultCharset UTF-8

Options -Indexes

# Начальный файл
DirectoryIndex index.php

# Без HTTPS не работает голосовой ввод текста
RewriteEngine On
RewriteCond %{HTTPS} =off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

<IfModule env_module>
SetEnv TZ Europe/Moscow
</IfModule>