div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	line-height: 1.3em;
}

html,
body {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	font-family: inherit;
	background-color: #fefefe;
	font-family: Tahoma;
	color: #000000;
	line-height: 1em;
	height: 100%;
}

strong{
	font-weight: 700;
}

input,
textarea {
	outline-style: none;
}

a img {
	border-width: 0;
}

div,
input,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

form {
	display: inline;
}

h1 {float:left;
	font-family: Verdana;
	margin:0;padding:0;
	font-size: 2.5em;
	font-weight: normal;
	color: #CB1E1E;
	/*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
		0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
		0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);*/
}

a {
	color: #1483ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	box-sizing: border-box;
	margin: auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 1000px;
	padding: .3em;
}

.box {
	background: #fafafa;
	text-align: left;
	margin: 0;margin-bottom:20px;
	z-index: 1;
	padding: .5em;
	max-width: 100%;
	overflow: hidden;
	box-shadow:0 0 5px rgba(0,0,0,.2);
}

.users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: red;
}

.users p {
	padding-right: .5em;
	border-radius: .2em;
	line-height: 170%;
}

.users p::before {
	content: "·";
	font-size: 2em;
	font-weight: bold;
	margin: 0 .1em 0 .1em;
}

.users span.date {
	color: #777;
	font-size: 70%;
}

.checkbox {
	float:right;
	background: #eee;
	text-align: left;
	margin: 0;
	z-index: 1;
	padding:1em;
	overflow: hidden;
	border:1px solid #ddd;
	border-radius:5px;
}

#msgsContent {
	width: 100%;
	/* height: 30em; */
	height: 90vh;
	overflow-y: auto;
}

#msgsContent .msg {
	width: 89%;
	margin-bottom: 0.5em;
	padding: 0.3em;
	border-radius: .5em;
	position: relative;
	z-index: 1;
	word-wrap: break-word;
	background: #eee;
}

#msgsContent .msg:hover{
	background: #fefefe;
}

#msgsContent .msg.myPost {
	margin-left: 10%;
	background: #cde;
}

#msgsContent .msg + .msg {
	border: 1px dashed #e0e0e0;
}

#msgsContent .msg .info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.2em;
	color: #0056c6;
	position: relative;
	justify-content: space-between;
}

#msgsContent .msg .info .number {
	display:inline-block;width:25px;height:25px;
	border:1px solid #eee;
	background:#fcfcfc;
	border-radius:5px;
	line-height:25px;text-align:center;
	color: #666;
}
#msgsContent .msg .info .name {
	font-weight: bold;
	padding-right: 0.5em;
	color: #CB1E1E;
}
#msgsContent .msg .info .cite {
	display: inline-block;
	/* height: 2.5em; */
	margin: 0;
	padding: 0 1em;
	cursor: pointer;
	color: #fff;
	font-size: .8em;
	line-height: 2em;
	background: #6494C1;
	border-radius: 5px;
}
#msgsContent .msg .info .cite:hover {
	box-shadow:0 0 2px rgba(0,0,0,.3);
	background:#67A1D7;
}
#msgsContent .msg .info .misc {
	font-size: 0.8em;
}

#msgsContent .msg .info .date {
	padding-right: 0.5em;
	display: inline-block;
	white-space: nowrap;
}

#msgsContent .info span.state {
	display: inline-block;
	line-height: 1.3em;
	width: .7em;
	height: .7em;
	border-radius: 100%;
	background: red;
	margin-right: .1em;
}

#msgsContent .info span.state.on,
.on {
	color: #fff;
	background: green;
}

#msgsContent .msg a {
	color: #000eff;
}

#msgsContent .msg img {
	min-width: 100px;
	max-height: 200px;
	max-width: 100%;
	border:1px solid #eee;
	padding:3px;margin:10px 0;
}

#msgsContent .msg .post {
	padding: 1em;
	margin-top: 1em;
	background: #fff;
	font-size: 100%;
	border-radius: 5px;
	border:1px solid #f2f2f2;
}

#msgsContent .msg .cite_disp {
	padding: 1em;
	background: #f2f2f2;
	font-size: 80%;
	font-style: italic;
	border-radius: 1em;
}

#msgsDialog .options {
	display: inline-block;
	margin-top: 1em;
	margin-right: 1em;
	font-family: Tahoma;
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
	color: #707070;
}

#msgsDialog .options input {
	vertical-align: top;
	cursor: pointer;
	width: 1em;
	height: 1em;
}

#sendDialog textarea,
#sendDialog input[type="text"],
#sendDialog input[type="password"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0.18em;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36) inset;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36) inset;
	padding: 0.2em;
	font-family: inherit;
	font-size: 1em;
}

#sendDialog input[type="text"],
#sendDialog input[type="password"] {
	min-height: 1.6em;
	padding: 0 0.2em;
}

#sendDialog .submit {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5em;
	justify-content: space-between;
	align-items: center;
	/* align-content: center; */
}

label.input__file {
	flex: 0 0 170px;
	cursor: pointer;
	color: #777;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
label.input__file:hover {
	color: #555;
}
label.input__file::before{
	content: "📎";
	font-size: 1.8em;
}

#sendDialog input[type="submit"] {
	flex: 2 0 55%;
	height: 2.7em;
	background: #ddd;
	/* max-width: 50%; */
}

#sendDialog input[name="name"] {
	font-weight: bold;
}

#sendDialog textarea[name="text"] {
	min-height: 10em;
	resize: none;
}

.waiter {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	opacity: 0.3;
}

.waiterProgress {
	background: url("data:image/gif;base64,R0lGODlhDAAMAPABAAICAgAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgABACwAAAAADAAMAAACFUR+hrmh+1iLrlVoKdB5duyBojQ6BQAh+QQJCgABACwAAAAADAAMAAACFYwNh6ncGtyREdYHKb1TW5+F4vSFBQAh+QQJCgABACwAAAAADAAMAAACF4wDZ6nYwE6Urzk1V92Ur5xdHeZpZFAAACH5BAkKAAEALAAAAAAMAAwAAAIWjGGJeRzL4JHP1WgpvSq7rWke9pVGAQAh+QQJCgABACwAAAAADAAMAAACF0xgiWmr3KB7DMwDcc33arqFYtNxElMAACH5BAUKAAEALAAAAAAMAAwAAAIWDIJ4qWz+2JJuJmswjhdqX4FUKH1MAQA7");
}

.block {
	/* position: relative; */
	padding: .1em 0 1em 1em;
	padding-right: 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
	box-shadow:0 0 5px rgba(0,0,0,.2);
	background: #fafafa;
}

.block .ct,
.block .cb {
	position: absolute;
	z-index: -1;
	height: 100%;
	left: -16px;
	right: -16px;
	overflow: hidden;
}

.block .ct {
	top: -5px;
}

.block .cb {
	bottom: -5px;
}

.block .ct:before,
.block .ct:after,
.block .cb:before,
.block .cb:after {
	content: "";
	position: absolute;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.block .ct:before {
	top: 5px;
	left: 3px;

	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);

	-webkit-transform: rotate(0deg) translate(40px, 15px) skew(20deg);
	-moz-transform: rotate(0deg) translate(40px, 15px) skew(20deg);
	-ms-transform: rotate(0deg) translate(40px, 15px) skew(20deg);
	transform: rotate(0deg) translate(40px, 15px) skew(20deg);
}

.block .ct:after {
	top: 5px;
	right: 3px;

	-webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.4);

	-webkit-transform: rotate(0deg) translate(-40px, 15px) skew(-20deg);
	-moz-transform: rotate(0deg) translate(-40px, 15px) skew(-20deg);
	-ms-transform: rotate(0deg) translate(-40px, 15px) skew(-20deg);
	transform: rotate(0deg) translate(-40px, 15px) skew(-20deg);
}

.block .cb:before {
	bottom: 5px;
	left: 3px;

	-webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);

	-webkit-transform: rotate(0deg) translate(40px, -15px) skew(-20deg);
	-moz-transform: rotate(0deg) translate(40px, -15px) skew(-20deg);
	-ms-transform: rotate(0deg) translate(40px, -15px) skew(-20deg);
	transform: rotate(0deg) translate(40px, -15px) skew(-20deg);
}

.block .cb:after {
	bottom: 5px;
	right: 3px;

	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

	-webkit-transform: rotate(0deg) translate(-40px, -15px) skew(20deg);
	-moz-transform: rotate(0deg) translate(-40px, -15px) skew(20deg);
	-ms-transform: rotate(0deg) translate(-40px, -15px) skew(20deg);
	transform: rotate(0deg) translate(-40px, -15px) skew(20deg);
}

.item-block{
margin:50px 0;
}
.item-block p{
font-size:90%;margin-bottom:5px;
}
.block2 {
	position: relative;
	display: block;
	background: #eee;
	border:2px solid #fefefe;
	margin: 0;
	z-index: 1;
	padding: .9em;
	max-width: 100%;
	overflow: hidden;box-shadow:0 0 5px rgba(0,0,0,.2);
}

.block2 .bb{
	color: grey;
}

.block2 input[type='text'],
.block2 textarea{
	background: #f6f6f6;padding:.5em!important;
}

.block2 input[type='text']:focus,
.block2 textarea:focus{
	background: #fdfdfd;
}

.block2 .attach{
text-align:left;margin-top:20px;
}


.button {
	display: inline-block;
	position: relative;

	padding: 0.2em 0.4em;
	vertical-align: top;

	cursor: pointer;
	text-decoration: none;

	/* font-family: Tahoma;
	font-weight: bold; */
	font: .9em Tahoma bold;
	color: #555555;
	height: inherit;

	border-radius: 0.18em;

	border: 1px solid #c2c2c2;

	border-radius: 0.18em;

	-webkit-box-shadow: inset 0 0 1px #ffffff;
	box-shadow: inset 0 0 1px #ffffff;

	background: #e5e5e5 -webkit-linear-gradient(180deg, #ffffff, #dfdfdf);
	background: #e5e5e5 -moz-linear-gradient(180deg, #ffffff, #dfdfdf);
	background: #e5e5e5 -ms-linear-gradient(180deg, #ffffff, #dfdfdf);
	background: #e5e5e5 linear-gradient(180deg, #ffffff, #dfdfdf);

	text-shadow: #ffffff 0px 1px 0;

	text-align: center;

	outline: none;

	z-index: 1;
}

.button:hover {
	border-color: #9a9a9a;

	-webkit-box-shadow: 0px 0px 2px #a0a0a0;
	box-shadow: 0px 0px 2px #a0a0a0;
}

.button:active {
	color: #555555;

	text-shadow: #ffffff 0px 1px 0;

	border-color: #9a9a9a;

	background: #e6e6e6 none;

	-webkit-box-shadow: inset 0 0 2px #d0d0d0;
	box-shadow: inset 0 0 2px #d0d0d0;
}

.tipUpper {
	display: inline-block;
	position: absolute;
	opacity: 0.9;
	z-index: 10000;
	border: solid 1px #ffffff;
	border-radius: 4px;
	margin-top: 16px;
	background-color: #000000;

	white-space: nowrap;
}

.tipUpper .ugol {
	font-size: 1px;
	position: absolute;
	top: -15px;
	left: 16px;
	border-width: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid #ffffff;
}

.tipUpper .ugolI {
	font-size: 1px;
	border-width: 0;
	border-top: 13px solid transparent;
	border-left: 13px solid #000000;
	position: absolute;
	top: -13px;
	left: 17px;
}

.tipUpper .msg {
	font-size: 80%;
	margin: 3px 5px 3px 5px;
	color: #ffffff;
	text-align: left;
}

/* IE Fixing */
*html .tipUpper {
	*display: inline;
	zoom: 1;
	filter: alpha(opacity = 90);
}

*html .tipUpper .ugol,
*html .tipUpper .ugolI {
	border-top-color: #ff00ff;
	filter: progid:DXImageTransform.Microsoft.Chroma(color='#FF00FF');
	zoom: 1;
}

/* #sendDialog{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}

#sendDialog:hover, #sendDialog:focus{
	height: unset;
} */


/*  */
#allEntries.test img{width:200px;}

#\$mw{
/*   visibility: hidden; */
  width: 0;
  position:fixed;
  left:0; top:0;
  display:flex;
  transition: width .5s ease-in;
  text-align:center;
  z-index:1000;
  background:#f0f5f9;
}

#\$mw img{
  max-width: 100%;
}
#\$mw.mod-show img{
  visibility: visible;
}
#\$mw.mod-show{
  width: 100%;
}

.right{
	text-align: right;
}

.smile {
	display: flex;
	font-size: 2em;
	justify-content: space-around;
	cursor: pointer;
}
.smile i {
	font-style: normal;
	/* border: 1px #aaa solid; */
	padding: 0 3px;
	/* margin: 0 2px; */
}
.smile i:hover{
	border-bottom: 2px solid #ccc;
}
.smile *{
	font-style: normal;
}

span.name{
	cursor: pointer;
}


@media (max-width:500px){
	#sendDialog textarea[name="text"] {
		min-height: 4em;
		resize: none;
	}

	.block2 {
		border-width: 1px;
		padding: .5em;
	}
}