/* @import 'https://fonts.googleapis.com/css?family=Prompt:400,700'; */

.modal {
  display: block;

  width: 600px;
  max-width: 100%;

  min-height: 200px;
  max-height: 100%;

  position: absolute;

  z-index: 1000;

  left: 50%;
  top: 50%;

  /* Центруем */
  transform: translate(-50%, -50%);

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.modal-overlay.closed {
  width:0;
  /* display: none; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  transition: .5s;
  background: rgba(0, 0, 0, 0.6);
}

.modal .modal-guts {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 2em 3.5em 2em 2em;
}

.modal-guts > pre {
	display: inline-block;
	white-space: pre-wrap;
  transition: .5s;
}
.closed .modal-guts {
	width: 0;
  overflow: hidden;
}
.closed .modal-guts>pre {
	width: 0;
  overflow: hidden;
}


.modal [class*=-button]{
  position: absolute;
  right: 20px;
  cursor: pointer;
  padding: .1em;
  line-height: 1;
  border: 0;
  z-index: 1;
}

.modal .close-button {
	top: 10px;
	background: #d55;
	color: white;
	font-size: 1.5em;

}

.modal .ok-button {
	bottom: 10px;
	background: none;
	color: green;
	font-size: 3em;
}

.open-button {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
}
