@import '../mainStyle.css';

html, body {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	font-family: inherit;
	background-color: #fefefe;
	font-family: Tahoma;
	color: #000000;
	line-height: 1em;
	height: 100%;
}



.box {
	position: relative;
	background: #fafafa;
	text-align: left;
	margin: 0;margin-bottom:20px;
	z-index: 1;
	padding: .5em;
	max-width: 100%;
	overflow: hidden;
	box-shadow:0 0 5px rgba(0,0,0,.2);
}

.checkbox {
	float:right;
	background: #eee;
	text-align: left;
	margin: 0;
	z-index: 1;
	padding:1em;
	overflow: hidden;
	border:1px solid #ddd;
	border-radius:5px;
}

#msgsContent .msg {
	width: 89%;
	margin-bottom: 0.5em;
	padding: 0.3em;
	border-radius: .5em;
	position: relative;
	z-index: 1;
	word-wrap: break-word;
	background: #eee;
}

#msgsContent .msg:hover{
	background: #fefefe;
}

#msgsContent .msg.myPost {
	margin-left: 10%;
	background: #cde;
}

#msgsContent .msg + .msg {
	border: 1px dashed #e0e0e0;
}

#msgsContent .msg .info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.2em;
	color: #0056c6;
	position: relative;
	justify-content: space-between;
}

#msgsContent .msg .info .num {
	color: #123;
}
#msgsContent .msg .info .name {
	font-weight: bold;
	padding-right: 0.5em;
	color: #CB1E1E;
}
#msgsContent .info span.name.on,
.on {
color: LightCyan;
background-color: DarkGreen;
padding: .1em .3em;
font-weight: 700;
/* text-shadow: DarkGreen 3px 3px 0, DarkGreen -3px -3px 0, DarkGreen -3px 3px 0, DarkGreen 3px -3px 0; */

}


#msgsContent .msg .post {
	padding: 1em;
	margin-top: 1em;
	background: #fff;
	font-size: 100%;
	border-radius: 5px;
	border:1px solid #f2f2f2;
}



#sendDialog input[type="text"],
#sendDialog input[type="password"] {
	min-height: 1.6em;
	padding: 0 .2em;
}

#sendDialog .submit {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.5em;
	justify-content: space-between;
	align-items: center;
	/* align-content: center; */
}

label.input__file {
	flex: 0 0 170px;
	cursor: pointer;
	color: #777;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

label.input__file::before{
	content: "📎";
	font-size: 1.8em;
}

#sendDialog input[type="submit"] {
	flex: 2 0 55%;
	height: 2.7em;
	/* max-width: 50%; */
}

#sendDialog input[name="name"] {
	font-weight: bold;
}

#sendDialog textarea[name="text"] {
	min-height: 10em;
	resize: none;
}

.waiter {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	opacity: 0.3;
}


.block {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
	box-shadow:0 0 5px rgba(0,0,0,.2);
	background: #fafafa;
}


.block2 {
	position: relative;
	display: block;
	background: #eee;
	border:2px solid #fefefe;
	margin: 0;
	z-index: 1;
	max-width: 100%;
	overflow: hidden;box-shadow:0 0 5px rgba(0,0,0,.2);
}

.block2 .bb{
	color: grey;
}

.block2 input[type='text'],
.block2 textarea{
	background: #f6f6f6;padding:.5em!important;
}

.block2 input[type='text']:focus,
.block2 textarea:focus{
	background: #fdfdfd;
}

.block2 .attach{
text-align:left;margin-top:20px;
}


.button {
	display: inline-block;
	position: relative;

	padding: 0.2em 0.4em;
	vertical-align: top;

	cursor: pointer;
	text-decoration: none;

	/* font-family: Tahoma;
	font-weight: bold; */
	font: .9em Tahoma bold;
	color: #555555;
	height: inherit;

	border-radius: 0.18em;

	border: 1px solid #c2c2c2;

	border-radius: 0.18em;

	-webkit-box-shadow: inset 0 0 1px #ffffff;
	box-shadow: inset 0 0 1px #ffffff;

	background: #e5e5e5 -webkit-linear-gradient(180deg, #ffffff, #dfdfdf);
	background: #e5e5e5 -moz-linear-gradient(180deg, #ffffff, #dfdfdf);
	background: #e5e5e5 -ms-linear-gradient(180deg, #ffffff, #dfdfdf);
	background: #e5e5e5 linear-gradient(180deg, #ffffff, #dfdfdf);

	text-shadow: #ffffff 0px 1px 0;

	text-align: center;

	outline: none;

	z-index: 1;
}

.button:hover {
	border-color: #9a9a9a;

	-webkit-box-shadow: 0px 0px 2px #a0a0a0;
	box-shadow: 0px 0px 2px #a0a0a0;
}

.button:active {
	color: #555555;

	text-shadow: #ffffff 0px 1px 0;

	border-color: #9a9a9a;

	background: #e6e6e6 none;

	-webkit-box-shadow: inset 0 0 2px #d0d0d0;
	box-shadow: inset 0 0 2px #d0d0d0;
}